@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Ms University is founded by UCL Shanghai Alumni Club, aiming to provide a stage for alumni from all over the world to show their beauty and talent!</p>
