@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<Board>
    <p>
        <strong>Chairman:</strong> Sky Lin <a href="mailto:Wengui.lin@live.com">Wengui.lin@live.com</a>
</p>

    <p>
        <strong>Secretary Office:</strong> Stella Lu
</p>

    <p>
        <strong>Marketing:</strong> Henry Ni
</p>

    <p>
        <strong>Membership:</strong> Daniel Dong
</p>

    <p>
        <strong>Activity:</strong> Summer Xia
</p>

    <p>
        <strong>Finance:</strong> Eva Zheng
</p>

</Board>

<address>

</address>