@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Department
        </th>
        <th>
            Email
        </th>
    </tr>
    <tr>
        <th>
            Sky Lin
        </th>
        <th>
            Chairman
        </th>
        <th>
            <a href="mailto:sky@msuni.net">sky@msuni.net</a>
        </th>
    </tr>
    <tr>
        <th>
            Stella Lu
        </th>
        <th>
            Secretary Office
        </th>
        <th>
        </th>
    </tr>
    <tr>
        <th>
            Henry Ni
        </th>
        <th>
            Marketing
        </th>
        <th>
        </th>
    </tr>
    <tr>
        <th>
            Daniel Dong
        </th>
        <th>
            Membership
        </th>
        <th>
        </th>
    </tr>
    <tr>
        <th>
            Summer Xia
        </th>
        <th>
            Activity&Event
        </th>
        <th>
        </th>
    </tr>
    <tr>
        <th>
            Eva Zheng
        </th>
        <th>
            Finance
        </th>
        <th>
        </th>
    </tr>
</table>
