@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ms.University</h1>
    <p class="lead">Welcome to Ms.University Competition @DateTime.Now.Year</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How to Apply</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vote your Ms.University</h2>
        <p></p>
        <p><a class="btn btn-default" href="/Contacts">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Joined Alumni Club</h2>
        <p>So far we have following Alumni Club joined for Ms.University @DateTime.Now.Year: UCL Shanghai Alumni Club,
        </p>
        <p></p>
    </div>
</div>