@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ms.University</h1>
    <p class="lead">Welcome to Ms.University Competition @DateTime.Now.Year</p>
    <p><a href="/Home/Contact" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How to Apply</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="/Home/About">Apply &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vote your Ms.University</h2>
        <p></p>
        <p><a class="btn btn-default" href="/Contacts">Vote &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Joined Alumni Club</h2>
        <p>So far we have following Alumni Club joined for Ms.University @DateTime.Now.Year: 
        </p>
        <marquee direction="up">
            <p>UCL Shanghai Alumni Club</p>
            <p>AAA</p>
            <p>BBB</p>
            <p>CCC</p>
        </marquee>
        
    </div>
</div>