@model MsUni.Models.Image

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Image</h4>
    <hr />

    <img src="@Url.Action("GetImage", "Images", new { id = Model.ImageId })" />
</div>
